.container { 
background-color: white;
display:block;
height: 200px;
}
.container .jeju { 
  color:black;
  font-size: large;
  background-attachment: fixed;
  background-color: rgb(196, 242, 242);
  position:relative;
  left: 450px;top: 100px;
   border-radius: 15%;
  text-align: center;
  display: inline-block;
    width: 200px;
    padding: 5px;
    border: 2px solid white;
    box-sizing:border-box;
}
.one{
  display: inline-block;
  position:relative;
  left: 50px;
}
.icon{
  display:flex ;
  justify-content:space-between;
  margin: 1px 150px;
}
.item1.item2.item3{
  font-size: medium;
  color: black;
  position:relative;
  left: 50px;
  background-color: white;
  flex-direction: column;
}
